* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: "Mona Sans";
  src: url("assets/fonts/mona-sans.woff2") format("woff2");
  font-weight: 200 900;
  font-display: swap;
  font-feature-settings: "liga" 0;
}
@font-face {
  font-family: "Mona Sans Mono";
  src: url("assets/fonts/mona-sans-mono.woff2") format("woff2");
  font-weight: 200 900;
  font-display: swap;
  font-feature-settings: "liga" 0;
}

:root {
  --font-body: "Mona Sans";
  --font-mono: "Mona Sans Mono";
  --color-black: #000;
  --color-white: #fff;
  --color-muted: #a4aea6;
  --color-border-muted: #191f1b;
  --color-cursor: #08872b;
  --container-width: 1280px;
  --spacing-64: 64px;
  --heading-1-font-size: 56px;
  --heading-1-line-height: 1.1;
  --eyebrow-font-size: 14px;
  --text-200-font-size: 16px;
  --text-200-line-height: 1.5;
  --color-button-primary-bg: #08872b;
  --color-button-secondary-bg: rgba(255, 255, 255, 0.12);
  --border-color: rgba(255, 255, 255, 0.06);
  --color-focus: #08872b;
  --base-size-16:16px;
  --brand-color-text-muted:#58635B;
  --base-size-24:24px;
--brand-borderRadius-medium:8px;
--brand-Card-padding-inline:20px;
--brand-borderWidth-thin:1px;
--base-size-28:28px;
--brand-color-accent-primary:#0D6731;
}

body {
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
}

.hero {
  --hero-text-max-width: 600px;
  --hero-content-gap: 1em;

  background: var(--color-black);
  color: var(--color-white);
  text-align: center;
}

.container {
  max-width: var(--container-width);
  margin-left: auto;
  margin-right: auto;
}

.hero-content {
  padding: var(--spacing-64);
  border-left: 1px solid var(--color-border-muted);
  border-right: 1px solid var(--color-border-muted);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--hero-content-gap);
}

.eyebrow {
  font-size: var(--eyebrow-font-size);
  font-family: var(--font-mono);
  text-transform: uppercase;
  letter-spacing: 1px;
  color: var(--color-muted);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.42em;
}

.eyebrow-cursor rect {
  fill: var(--color-cursor);
}

.heading {
  font-weight: 400;
}

.heading-size-1 {
  font-size: var(--heading-1-font-size);
  line-height: var(--heading-1-line-height);
}
@media (max-width: 640px) {
  :root {
    --heading-1-font-size: 36px;
  }
}

.text-size-200 {
  font-size: var(--text-200-font-size);
  line-height: var(--text-200-line-height);
}

.hero-text {
  max-width: var(--hero-text-max-width);
}

.button-group {
  display: flex;
  gap: 1em;
}

.hero-image {
  margin-top: calc(64px - var(--hero-content-gap));
 width: 100%;
  height: 600px;
   object-fit:cover;
  display: block;
}
.button {
  text-decoration: none;
  color: inherit;
  border: 1px solid;
  padding: 0.6em 1.25em;
  font-weight: 500;
  letter-spacing: 0.16px;
  border-radius: 0.375em;
}
.button-primary {
  background-color: var(--color-button-primary-bg);
  border-color: transparent;
  transition: background-color 150ms ease-in-out;
}
.button-primary:hover {
  background-color: color-mix(
    in srgb,
    var(--color-button-primary-bg),
    #000000 16%
  );
}
.button-secondary {
  background-color: var(--color-button-secondary-bg);
  border-color: var(--border-color);
}
.button-secondary:hover {
  background-color: color-mix(
    in srgb,
    var(--color-button-secondary-bg),
    #ffffff 12%
  );
  transition: background-color 150ms ease-in-out;
}
.button:focus-visible {
  outline: 4px solid var(--color-focus);
  outline-offset: 2px;
}
.info-item {
  display: flex;
  flex-direction: column;
  padding: 10px;
  padding-top: 24px;
  font-size: 16px;
  font-family: "Mona Sans";
  white-space: normal;
  gap: 12px;
}
@media (min-width: 1000px) {
  .info-item {
    white-space: nowrap;
  }
}

.project-biography {
  display: flex;
  gap: 48px;
  border-bottom: solid 0.3px #000;
  padding-bottom:17px;
}
.info-label {
  font-size: 14px;
  color: #58635b;
}
.case-study{
  padding-top: var(--base-size-24);
  flex-direction: column;
text-align: center;
display: flex;
align-items: center;

}

.eyebrow-mito{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.42em;
  color:var(--brand-color-text-muted);
  font-family: "Mona Sans Mono";
  font-size: 14px;
  font-weight: 400;

}
.text-hero-bottom{
  font-family: "Mona Sans";
font-size: 28px;
font-weight: 500;
color: #000;
padding: var(--base-size-16);
}
.text-mito{
  font-family: "Mona Sans";
  font-size: 16px;
  font-weight: 400;
  color: var(--brand-color-text-muted);
  padding: var(--base-size-16);
  padding-bottom: var(--base-size-24);
}

.image-hero{
 width: 100%;
  max-width: 1158px;
  height: auto;
  border-radius: var(--brand-borderRadius-medium);
}

.image-hero2{
 width: 100%;
  max-width: 1158px;
  height: auto;
  border-radius: var(--brand-borderRadius-medium);
}
.image-hero3{
 width: 100%;
  max-width: 1158px;
  height: auto;
  border-radius: var(--brand-borderRadius-medium);
}



.title-text-4{
  font-family: "Mona Sans";
  font-size: 20px;
  font-weight: 400;
  text-align: left;
  }
  .title-icon {
  justify-content: flex-start;}

.tab-container {
  display: grid;
  max-width: 1158px;
  width: 100%;
  row-gap: 40px;
  column-gap: 40px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  margin-top: 40px;
}

@media (max-width: 999px) {
  .tab-container {
    grid-template-columns: 1fr;
  }
}

.tab-button1 {
  width: 100%;
}

.small-text {
  max-width: 100%;
  text-align: left;
}

.button-tertiary {
  width: 100%;
  border: none;
  background-color: #fff;
  text-align: left;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #E4EBE6;
  margin-bottom: 20px;
}

.button-tertiary.active .line {
  background-color: #08872B;
}
.image-mito {
  transition: opacity 0.2s ease;
}
.icon svg path {
  fill: #A4AEA6 !important;
}

.button-tertiary.active .icon svg path {
  fill: #08872B !important;
}